# Cheetsheet for python List data type

## Initialization

In [2]:
list1 = ['lala', 123, ['a', 'b', 'c'], 123]

## Checking / viewing

In [3]:
list1[0]

'lala'

In [4]:
list1[1:3]

[123, ['a', 'b', 'c']]

In [5]:
list1[-1]   # last element

123

In [6]:
len(list1)

4

In [9]:
# Combine all list elements into one string. Only works if list contains only string elements
"-".join(["Bag", "of", "words"])

'Bag-of-words'

#### List contains an element?

In [21]:
list = [1,2,3,4]
3 in list

True

## Adding / updating

In [12]:
list1[1] = 0
list1

['lala', 0, ['a', 'b', 'c']]

In [13]:
list1.append(5) # this will keep appending to the end as much as you run it
list1

['lala', 0, ['a', 'b', 'c'], 5]

### Join two lists

In [15]:
list1 = ["a", "b"]
list2 = [1, 2]
list1.extend(list2)
list1

['a', 'b', 1, 2]

In [16]:
list1.append(list2)
list1

['a', 'b', 1, 2, [1, 2]]

## Removing

In [14]:
list1

['lala', 0, ['a', 'b', 'c'], 5]

In [15]:
del list1[-1]
list1

['lala', 0, ['a', 'b', 'c']]

In [18]:
listA = ['a', 'b', 1, 'a', 1, 'c']
listA.remove('a')  # Note that only the first occurence of 'a' is removed
listA

['b', 1, 'a', 1, 'c']

In [22]:
# To remove all occurences of an element in the list, use filter:
listA = ['a', 'b', 1, 'a', 1, 'c']
list(filter(lambda el: el != 'a', listA))

['b', 1, 1, 'c']

## Other operations

### Sub-list with regex
Given a list of strings, select a subset of this list based on a match to regex expression. 

Example below: given a list of file names from NCBI's blast ftp directory, select only those file names that are nt / nt database. I.e. nr.01.tar.gz

In [16]:
import re

all_files = ['other_genomic.00.tar.gz.md5',
 'nr.00.tar.gz',
 'nr.00.tar.gz.md5',
 'v5',
 'nt.10.tar.gz',
 'other_genomic.00.tar.gz',]

nr_nt_re = re.compile('(nr|nt)\.\d{2}\.tar\.gz$')
#[nr_nt_re.sub('', x).strip() for x in all_files]
[file_name for file_name in all_files if nr_nt_re.match(file_name)]

['nr.00.tar.gz', 'nt.10.tar.gz']

#### Check if list is not empty

In [17]:
mylist = []
if not mylist:
    print("Empty")

mylist.append(1)
if mylist:
    print('Not empty')

Empty
Not empty

#### Printing

In [18]:
mylist = ['one', 2, 'three', 4, 'five']
print('{}'.format(mylist))

['one', 2, 'three', 4, 'five']

### Subtract one list from another
There is not elegant way to do this with lists. The following example is better done with sets.

In [26]:
list1 = ['a','b','A','c','d','A','B']
list2 = ['A','B']
#list1 - list2  ## not working, see Sets for an example

There is an elegant way of doing this - use filter. 
Note that all elements of list2 will be deleted in list1.

In [27]:
list(filter(lambda el: el not in list2, list1))

['a', 'b', 'c', 'd']

Also works when subracting a set from a list

In [28]:
list1 = ['a','b','A','c','d','A','B']
set1 = {"A", "B"}
list(filter(lambda el: el not in list2, list1))

['a', 'b', 'c', 'd']