# Cheetsheet for python List data type

Sets are unordered collection of unique elements. They support math operations like union, intersection, difference, symmetric difference.

In [12]:
## Initialization

#### Empty set
Note that a = {} creates an empty dictionary, so only use this below

In [ ]:
set1 = set()

In [9]:
set2 = {1,3,5,5}  ## second 5 will not be in the set
set2

{1, 3, 5}

In [10]:
set3 = set('abracadabra')  ## only unique letters will be in the set
set3

{'a', 'b', 'c', 'd', 'r'}

## Checking / viewing

## Adding / updating

## Removing

## Other operations

#### Subtract one set from another

In [15]:
setA = {'lala', 'bala', 'nala', 'gala'}
setB = {'lala', 'bala'}
setA - setB

{'gala', 'nala'}